{% macro share_links(article) %}
    {% if article.share_post and article.status != 'draft' %}
<section class="social-share">
	<div class="row-fluid">
		<div class="span6 offset2">
		    <span class="share-label">Partager cet article</span>
		    <div class="share-links">
		        <a title="Partager cet article sur Twitter" href="{{article.share_post['twitter']}}" target="_blank">
		            <i class="fa fa-twitter-square"></i>
		        </a>
		        <a title="Partager cet article sur Google+" href="{{article.share_post['google-plus']}}" target="_blank">
		            <i class="fa fa-google-plus-square"></i>
		        </a>
		        <a title="Partager cet article sur LinkedIn" href="{{article.share_post['linkedin']}}" target="_blank">
		            <i class="fa fa-linkedin-square"></i>
		        </a>
		        <a title="Partager cet article sur Facebook" href="{{article.share_post['facebook']}}" target="_blank">
		            <i class="fa fa-facebook-square"></i>
		        </a>
		    </div>
		</div>
	</div>	
</section>
    {% endif %}
{% endmacro %}

